<header>
    <nav class="nav">
        <div class="col-lg-6 first-nav" align="left">
            <input type="text" class="form-control" placeholder="Buscar" style="width:50%;height:30%;" /><span class="glyphicon glyphicon-search" aria-hidden="true"></span>        
        </div>
        <div class="col-lg-6 second-nav" align="right">
            <ul>
                <li class="header-list"><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Minha conta</a></li>
                <li class="header-list"><a ng-click="openLoginModal()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Entrar</a></li>
                <li class="header-list"><a><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Carrinho: 0 intens</a></li>
            </ul>
        </div>
        <div class="sub-nav">
            <div class="metade">
                <input type="text" class="form-control" placeholder="Buscar" style="width:50%;height:30%;margin-bottom:5px" /><span class="glyphicon glyphicon-search" aria-hidden="true"></span>        
            </div>
            <div class="metade">
                <ul align="right" style="clear:left;margin-top: 5px">
                    <li class="header-list"><a><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Minha conta</a></li>
                    <li class="header-list"><a ng-click="openLoginModal()"><span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Entrar</a></li>
                    <li class="header-list"><a><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Carrinho: 0 intens</a></li>
                </ul>
            </div>                    
        </div>
    </nav>

<div class="mobile-nav">
    <div class="terceira">
        <span class="glyphicon glyphicon-menu-hamburger" aria-hidden="true"></span>
    </div>
    <div class="terceira">
        <div style="clear:left;height:100%" align="center">
            <h1 style="height:50px;font-size:30px">Core<strong>Biz</strong><strong style="color:#00768F;font-size:50px;">.</strong></h1>
            <h4 class="subtexto">Marketing Cognitivo & Omnichannel</h4>
        </div>
    </div>
    <div class="terceira">
        <ul style="clear:left;" align="right"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true" style="clear:left;color:black;font-size:30px;margin: 26px 10px;cursor:pointer"></span></ul>
    </div>
</div>


<div class="title-site" align="center">
    <h1>Core<strong>Biz</strong><strong style="color:#00768F;font-size:100px;">.</strong></h1>
    <h4>Marketing Cognitivo & Omnichannel</h4>
</div>

<div class="adapt-search" align="center">
    <input type="text" class="form-control" style="width:95%;height:40px" placeholder="Buscar">
</div>

<div class="listing">
    <nav class="nav nav-menu">
        <ul align="center" style="padding-top:8px">
            <li class="menu-list"><a class="option-menu">CAMISAS</a></li>
            <li class="menu-list"><a class="option-menu">CAMISETAS</a></li>
            <li class="menu-list"><a class="option-menu">BLUSAS</a></li>
            <li class="menu-list"><a class="option-menu">BERMUDAS</a></li>
            <li class="menu-list"><a class="option-menu">CALÇAS</a></li>
            <li class="menu-list"><a class="option-menu">ACCESÓRIOS</a></li>
            <li class="menu-list"><a class="option-menu">SALES</a></li>
        </ul>
    </nav>
</div>
</header>

<main>
    <div class="informative">
        <div class="benefits">
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570627.jpg" style="float:left" width="45" height="45" alt="truck image">
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571272.jpg" style="float:right" width="5" height="45" alt="cko-logo" id="bar">
            <p style="padding-top:10px;font-size:12px;color:#7E7E7E;font-weight:bold;margin-bottom:0">FRETE GRÁTIS P/ TODO BRASIL</p>
            <p style="padding-top:0;font-size:10px;color:#7E7E7E;font-weight:bold">Nas compras acima de R$200</p>        
        </div>
        <div class="benefits">
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570624.jpg" style="float:left" width="35" height="45" alt="calendar image">
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571272.jpg" style="float:right" width="5" height="45" alt="cko-logo" id="bar">
            <p style="padding-top:10px;font-size:12px;color:#7E7E7E;font-weight:bold;margin-bottom:0">30 DIAS DE TROCA GRÁTIS</p>
            <p style="padding-top:0;font-size:10px;color:#7E7E7E;font-weight:bold">Você tem até 30 dias para trocar</p>
        </div>
        <div class="benefits">
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570625.jpg" style="float:left" width="45" height="45" alt="coin image">
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571272.jpg" style="float:right" width="5" height="45" alt="cko-logo" id="bar">
            <p style="padding-top:10px;font-size:12px;color:#7E7E7E;font-weight:bold;margin-bottom:0">PAGUE EM ATÉ 12X S/ JUROS</p>
            <p style="padding-top:0;font-size:10px;color:#7E7E7E;font-weight:bold">Parcela mínima de R$50</p>
        </div>
        <div class="benefits">
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570626.jpg" style="float:left" width="35" height="45" alt="phone image">
            <p style="padding-top:10px;font-size:12px;color:#7E7E7E;font-weight:bold;margin-bottom:0">TELEVENDAS: (11) 4063-3682</p>
            <p style="padding-top:0;font-size:10px;color:#7E7E7E;font-weight:bold">Atendimento 24 horas por dia</p>
        </div>
    </div>


    <div class="roll">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">        
        
        <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570998.jpg" id="banner-img" alt="first banner">
        

        
            <!-- Left and right controls -->
            <a class="left carousel-control" href="#myCarousel" data-slide="prev" style="width:25px;">
            <span class="glyphicon glyphicon-chevron-left" style="border-top-width: 5px;border-bottom-width: 5px;border-left-width: 5px;border-right-width: 5px;"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next" style="width:25px;">
            <span class="glyphicon glyphicon-chevron-right"></span>
            <span class="sr-only">Next</span>
            </a>
            
        </div>    
    </div>


    <div class="triple">
        <div class="space">        
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571000.jpg" alt="first semi banner" style="width:100%;height:100%;object-fit:cover;object-position:bottom;">            
        </div>
        <div class="space">        
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571001.jpg" alt="second semi banner" style="width:100%;height:100%;object-fit:cover;object-position:top;">          
        </div>
        <div class="space">
            <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570999.jpg" alt="second semi banner" style="width:100%;height:100%;object-fit:cover;object-position:top;">
        </div>
    </div>

    <div class="destaque-line">
        <h3><span>DESTAQUES</span></h3>
    </div>

    <div class="collection">
        <div class="collection-element">
            <div class="card" align="center">
                <div class="product-img">
                    <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                </div>
                <div class="card-body">
                    <p style="color:#646464;font-size:16px;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></p>
                    <p style="margin-bottom:0;padding-bottom:0;color:#B53E39;font-size:17px"><strong>R$ 60,00</strong></p>
                    <p style="color:#646464;margin:0;font-size:17px"><strong>3X DE R$20,00</strong></p>
                </div>
            </div>
        </div>
        <div class="collection-element">
            <div class="card" align="center">
                <div class="product-img">
                    <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                </div>
                <div class="card-body">
                    <p style="color:#646464;font-size:16px;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></p>
                    <p style="margin-bottom:0;padding-bottom:0;color:#B53E39;font-size:17px"><strong>R$ 60,00</strong></p>
                    <p style="color:#646464;margin:0;font-size:17px"><strong>3X DE R$20,00</strong></p>
                </div>
            </div>            
        </div>
        <div class="collection-element">
            <div class="card" align="center">
                <div class="product-img">
                    <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                </div>
                <div class="card-body">
                    <p style="color:#646464;font-size:16px;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></p>
                    <p style="margin-bottom:0;padding-bottom:0;color:#B53E39;font-size:17px"><strong><s style="color:#ABABAB">R$ 70,00</s> R$ 60,00</strong></p>
                    <p style="color:#646464;margin:0;font-size:17px"><strong>3X DE R$20,00</strong></p>
                </div>
            </div>            
        </div>
        <div class="collection-element">
            <div class="flag" align="center">INDISPONÍVEL</div>
            <div class="card" align="center">
                <div class="product-img">
                    <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                </div>
                <div class="card-body">
                    <p style="color:#646464;font-size:16px;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></p>
                    <p style="margin-bottom:0;padding-bottom:0;color:#B53E39;font-size:17px"><strong>R$ 60,00</strong></p>
                    <p style="color:#646464;margin:0;font-size:17px"><strong>3X DE R$20,00</strong></p>                        
                </div>
            </div>            
        </div>
    </div>

    <div class="collection" style="margin-top:40px;">
            <div class="collection-element">
                <div class="card" align="center">
                    <div class="product-img">
                        <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                    </div>
                    <div class="card-body">
                        <p style="color:#646464;font-size:16px;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></p>
                        <p style="margin-bottom:0;padding-bottom:0;color:#B53E39;font-size:17px"><strong>R$ 60,00</strong></p>
                        <p style="color:#646464;margin:0;font-size:17px"><strong>3X DE R$20,00</strong></p>
                    </div>
                </div>
            </div>
            <div class="collection-element">
                <div class="card" align="center">
                    <div class="product-img">
                        <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                    </div>
                    <div class="card-body">
                        <p style="color:#646464;font-size:16px;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></p>
                        <p style="margin-bottom:0;padding-bottom:0;color:#B53E39;font-size:17px"><strong>R$ 60,00</strong></p>
                        <p style="color:#646464;margin:0;font-size:17px"><strong>3X DE R$20,00</strong></p>
                    </div>
                </div>            
            </div>
            <div class="collection-element">
                <div class="card" align="center">
                    <div class="product-img">
                        <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                    </div>
                    <div class="card-body">
                        <p style="color:#646464;font-size:16px;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></p>
                        <p style="margin-bottom:0;padding-bottom:0;color:#B53E39;font-size:17px"><strong><s style="color:#ABABAB">R$ 70,00</s> R$ 60,00</strong></p>
                        <p style="color:#646464;margin:0;font-size:17px"><strong>3X DE R$20,00</strong></p>
                    </div>
                </div>            
            </div>
            <div class="collection-element">
                <div class="flag" align="center">INDISPONÍVEL</div>
                <div class="card" align="center">
                    <div class="product-img">
                        <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                    </div>
                    <div class="card-body">
                        <p style="color:#646464;font-size:16px;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></p>
                        <p style="margin-bottom:0;padding-bottom:0;color:#B53E39;font-size:17px"><strong>R$ 60,00</strong></p>
                        <p style="color:#646464;margin:0;font-size:17px"><strong>3X DE R$20,00</strong></p>                        
                    </div>
                </div>            
            </div>
        </div>

</main>


    





<div class="col-lg-12" style="margin: 40px 0 25px 0">
<ul style="padding: 0">
    <li class="card-list">
        <div class="col-lg-3">
            <br>
            <div class="card" align="center">
                <div class="card" style="height: 200px;width: 58%">
                    <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                </div>
                <div class="card-body">
                    <h5 style="color:#646464;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></h5>
                    <h5 style="margin-bottom:0;padding-bottom:0;color:#B53E39"><strong>R$ 60,00</strong></h5>
                    <h5 style="color:#646464;margin:0"><strong>3X DE R$20,00</strong></h5>
                </div>
            </div>
        </div>
    </li>
    <li class="card-list">
        <div class="col-lg-3">
            <br>
            <div class="card" align="center">
                <div class="card" style="height: 200px;width: 58%">
                    <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                </div>
                <div class="card-body">
                    <h5 style="color:#646464;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></h5>
                    <h5 style="margin-bottom:0;padding-bottom:0;color:#B53E39"><strong>R$ 60,00</strong></h5>
                    <h5 style="color:#646464;margin:0"><strong>3X DE R$20,00</strong></h5>
                </div>
            </div>
        </div>
    </li>
    <li class="card-list">
        <div class="col-lg-3">
            <br>
            <div class="card" align="center">
                <div class="card" style="height: 200px;width: 58%">
                    <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                </div>
                <div class="card-body">
                    <h5 style="color:#646464;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></h5>
                    <h5 style="margin-bottom:0;padding-bottom:0;color:#B53E39"><strong style="color:#ABABAB"><s>R$ 70,00</s></strong> <strong>R$ 60,00</strong></h5>
                    <h5 style="color:#646464;margin:0"><strong>3X DE R$20,00</strong></h5>
                </div>
            </div>
        </div>
    </li>
    <li class="card-list">
        <div class="col-lg-3">
            <div class="col-sm-12" id="flag"><p style="margin:4px 0 4px 0">INDISPONÍVEL</p></div>
            <br>
            <div class="card" align="center">
                <div class="card" style="height: 200px;width: 58%">
                    <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571003.jpg" alt="product image" style="width:100%;height:100%;object-fit:cover;object-position:top;">
                </div>
                <div class="card-body">
                    <h5 style="color:#646464;margin:20px 0 20px 0;"><strong>Legging Faux Leather Sailor</strong></h5>
                    <h5 style="margin-bottom:0;padding-bottom:0;color:#B53E39"><strong>R$ 60,00</strong></h5>
                    <h5 style="color:#646464;margin:0"><strong>3X DE R$20,00</strong></h5>
                </div>
            </div>
        </div>
    </li>
</ul>
</div>

<div class="col-lg-12" id="next-banner">
<img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571005.jpg" style="width:100%;height:100%;object-fit:cover;object-position:top;" alt="second banner">
</div>

<div class="col-lg-12" id="gram">
<div class="col-lg-5" style="padding: 10px 0 0 0; border-bottom: 1px solid black"></div>
<div class="col-lg-2" align="center" style="padding:0">
    <p style="font-size:15px;color:black">INSTAGRAM</p>
</div>
<div class="col-lg-5" style="padding: 10px 0 0 0; border-bottom: 1px solid black"></div>
</div>

<div class="col-lg-12" style="margin: 0 0 25px 0">
<ul style="padding: 0">
    <li class="card-list">
        <div class="col-lg-2">
            <div class="card" style="width:150px;height:150px;">
                <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571006.jpg" style="width:100%;height:100%;object-fit:cover;object-position:top;" alt="second banner">
            </div>
        </div>
    </li>
    <li class="card-list">
        <div class="col-lg-2">
            <div class="card" style="width:150px;height:150px;">
                <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571006.jpg" style="width:100%;height:100%;object-fit:cover;object-position:top;" alt="second banner">
            </div>
        </div>
    </li>
    <li class="card-list">
        <div class="col-lg-2">
            <div class="card" style="width:150px;height:150px;">
                <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571006.jpg" style="width:100%;height:100%;object-fit:cover;object-position:top;" alt="second banner">
            </div>
        </div>
    </li>
    <li class="card-list">
        <div class="col-lg-2">
            <div class="card" style="width:150px;height:150px;">
                <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571006.jpg" style="width:100%;height:100%;object-fit:cover;object-position:top;" alt="second banner">
            </div>
        </div>
    </li>
    <li class="card-list">
        <div class="col-lg-2">
            <div class="card" style="width:150px;height:150px;">
                <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571006.jpg" style="width:100%;height:100%;object-fit:cover;object-position:top;" alt="second banner">
            </div>
        </div>
    </li>
    <li class="card-list">
        <div class="col-lg-2">
            <div class="card" style="width:150px;height:150px;">
                <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/571006.jpg" style="width:100%;height:100%;object-fit:cover;object-position:top;" alt="second banner">
            </div>
        </div>
    </li>
</ul>
</div>
</main>

<!-- <footer>
<div class="col-lg-12" style="padding: 10px 0 0 0; border-bottom: 1px solid black; margin-bottom: 15px"></div>

<div class="col-lg-12" style="height:140px;border-bottom: 1px dotted black;margin-bottom:10px;">
<div class="col-lg-3">
    <p style="font-size:13px">INSTITUCIONAL</p>
    <br>
    <ul style="padding-left:0;">
        <li class="footer-list"><a class="info-footer">→ Quem Somos</a></li>
        <li class="footer-list"><a class="info-footer">→ Contato</a></li>
    </ul>
</div>
<div class="col-lg-3">
    <p style="font-size:13px">AJUDA & SUPORTE</p>
    <br>
    <ul style="padding-left:0;">
        <li class="footer-list"><a class="info-footer">→ Como Compra</a></li>
        <li class="footer-list"><a class="info-footer">→ Termos e Condições</a></li>
    </ul>        
</div>
<div class="col-lg-3">
    <p style="font-size:13px">NEWSLETTER</p>
    <br>
    <div class="input-group">
        <input type="text" class="form-control" placeholder="Insira seu e-mail">
            <span class="input-group-btn">
                <button class="btn btn-news" type="button">Assinar</button>
            </span>
    </div>
</div>
<div class="col-lg-3" align="right">
    <p style="font-size:13px">REDES SOCIAIS</p>
    <br>
    <li class="social">
        <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570973.jpg" width="15" height="30" alt="facebook logo">
    </li>
    <li class="social">
        <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570975.jpg" width="30" height="25" alt="twitter logo">                
    </li>
    <li class="social">
        <img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570974.jpg" width="30" height="30" alt="instagram logo">
    </li>
</div>
</div>

<div class="col-lg-12" style="border-bottom: 1px dotted black;margin-bottom:10px;padding: 0 0 8px 0">        
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570944.jpg" width="50" height="25" alt="facebook logo"></li>
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570942.jpg" width="50" height="30" alt="facebook logo"></li>
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570937.jpg" width="50" height="30" alt="facebook logo"></li>
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570935.jpg" width="50" height="30" alt="facebook logo"></li>
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570936.jpg" width="40" height="25" alt="facebook logo"></li>
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570938.jpg" width="65" height="30" alt="facebook logo"></li>
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570940.jpg" width="50" height="25" alt="facebook logo"></li>
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570939.jpg" width="50" height="35" alt="facebook logo"></li>
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570943.jpg" width="50" height="25" alt="facebook logo"></li>
<li class="pay-list"><img src="http://clickoneroservicios.vteximg.com.br/arquivos/ids/570941.jpg" width="65" height="30" alt="facebook logo"></li>    
</div>

<div class="col-lg-12" align="center">
<p style="margin:10px 0 20px 0;font-size:12px">&#169; 2015 Loja Virtual. Todos os direitos reservados.</p>
</div>


<div class="modal fade" tabindex="-1" role="dialog" id="login-modal">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-body">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <h4 align="center">Bem vindo!</h4>
            <label for="id">Insira seu email</label>
            <input type="text" class="form-control" id="email" placeholder="Seu email">
            <br>
            <label for="id">Insira sua senha</label>
            <input type="text" class="form-control" id="senha" placeholder="Sua senha">
            <div class="col-lg-6"></div>
            <div class="col-lg-6" align="right">
                <a class="forget">Esqueci minha senha</a>
            </div>
            <br><br>
            <button type="button" class="btn btn-getin">Entrar</button>
            <br><br>
            <div class="col-lg-5" style="padding-top:10px;border-bottom: 1px solid black"></div>
            <div class="col-lg-2" align="center">ou</div>
            <div class="col-lg-5" style="padding-top:10px;border-bottom: 1px solid black"></div>
            <br><br>
            <button type="button" class="btn btn-social">Conectar com o facebook</button>
            <br><br>
            <h4 align="center">Novo aquí? <a class="forget">Cadastre-se agora</a></h4>
        </div>            
    </div>
</div>
</div>
</footer>     -->